<% layout('/layouts/boilerplate.ejs')%>

    <body>
        <div class="row">
            <form action="/listings/<%= list._id %>?_method=PUT" method="POST">
                <div class="col-8 offset-2">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="title" value="<%= list.title%>" class="form-control">
                    </div>
                    <div class="mb-3"> <label for="description" class="form-label">Description:</label>
                        <input type="text" name="description" value="<%= list.description%>" class="form-control">
                    </div>
                    <div class="mb-3"> <label for="image" class="form-label">Image URL:</label>
                        <input type="text" name="image" value="<%= list.image%>" class="form-control">
                    </div>
                  <div class="row">
                      <div class="col-md-4">
                        <div class="mb-3">
                            <label for="price" class="form-label ">Price:</label>
                            <input type="text" name="price" value="<%= list.price%>" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3"> <label for="location " class="form-label">Location:</label>
                            <input type="text" name="location" value="<%= list.location%>" class="form-control">
                        </div>
                    </div>

                  </div>

                    <div class="mb-3"> <label for="country" class="form-label">Country:</label>
                        <input type="text" name="country" value="<%= list.country%>" class="form-control">
                    </div>
                    <div class="mb-3"> <label for="contact" class="form-label">Contact:</label>
                        <input type="text" name="contact" value="<%= list.contact%>" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </body>