<% layout('/layouts/boilerplate.ejs')%>

    <body>
        <div class="row">
            <form action="/listings/<%= list._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="col-8 offset-2">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="listing[title]" value="<%= list.title%>" class="form-control" required>
                         <div class="invalid-feedback">
                            Please choose a Title.
                        </div>
                    </div>
                    <div class="mb-3"> <label for="description" class="form-label">Description:</label>
                        <input type="text" name="listing[description]" value="<%= list.description%>" class="form-control" required>
                        <div class="invalid-feedback">
                            Please give a description.
                        </div>
                    </div>
                    <div class="mb-3"> <label for="image" class="form-label">Upload Image:</label>
                        <input type="file" name="listing[image]" class="form-control">
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                        <div class="mb-3">
                            <label for="price" class="form-label ">Price:</label>
                            <input type="text" name="listing[price]" value="<%= list.price%>" class="form-control" required>
                            <div class="invalid-feedback">
                                Price for stay.
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3"> <label for="location " class="form-label">Location:</label>
                            <input type="text" name="listing[location]" value="<%= list.location%>" class="form-control" required>
                            <div class="invalid-feedback">
                                 Please choose a location.
                        </div>
                        </div>
                    </div>

                  </div>

                    <div class="mb-3"> <label for="country" class="form-label">Country:</label>
                        <input type="text" name="listing[country]" value="<%= list.country%>" class="form-control" required>
                         <div class="invalid-feedback">
                            Please choose a country.
                        </div>
                    </div>
                    <div class="mb-3"> <label for="contact" class="form-label">Contact:</label>
                        <input type="text" name="listing[contact]" value="<%= list.contact%>" class="form-control" required>
                         <div class="invalid-feedback">
                            Contact information.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </body>