<% layout('/layouts/boilerplate.ejs')%>

<body>
    <div class="row mt-5 justify-content-center">
        <div class="card col-10 p-0 border-0 shadow-lg">
            <div class="row g-0 align-items-center" style="min-height:70vh;">
                <div class="col-md-6">
                    <img src="<%=list.image%>" class="img-fluid rounded-start w-100 h-100" style="object-fit:cover; min-height:70vh;" alt="img">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-start p-5 bg-light h-100">
                    <h1 class="display-4 fw-bold mb-3"> <%=list.title %> </h1>
                    <p class="lead mb-4">
                        <%=list.description %>
                    </p>
                    <p class="mb-2"><span class="fw-bold">Price:</span> &#8377;<%=list.price.toLocaleString("en-IN") %>/Night</p>
                    <p class="mb-2"><span class="fw-bold">Location:</span> <%=list.location %></p>
                    <p class="mb-4"><span class="fw-bold">Contact:</span> <%=list.contact %></p>
                    <div class="btns d-flex gap-2">
                        <form action="/listings/<%=list._id %>/edit" method="get">
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </form>
                        <form action="/listings/<%=list._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
